.nearby-container {
  overflow: hidden;
  margin-top: 15px;

  .header-text {
    margin-bottom: 25px;
    border-bottom: 3px solid $border-gray;
    overflow: hidden;
  }

  h3 {
    width: 50%;
    display: block;
    float: left;
    padding: 10px 15px 10px 5px;
    margin: 0;
    color: $font-red;

  }

  .search-container {
    width: 50%;
    padding: 0 15px;
    display: block;
    float: right;

    label {
      width: 0;
    }
  }
}

@media(min-width: $phone-breakpoint) {
  .nearby-container {
    h3 {
      width: 70%;
    }

    .search-container {
      width: 30%;
    }
  }
}

@media(min-width: $tablet-breakpoint) {
  .nearby-container {
    margin: auto;

    h3 {
      font-size: 1.8rem;
      font-weight: 100;
      width: 80%;
    }

    .search-container {
      width: 20%;
    }

    .header-text {
      margin-top: 20px;
    }
  }
}
