.drop-down-container {
  position: relative;
  .mobile-menu-dropdown {
    z-index: 40;
    background: white;
    color: $primary-gray;
    width: 70%;
    position: absolute;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    .dropdown-icon {
      margin: 0px 20px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 1rem;
        padding: 2rem 1.5rem;
        border-bottom: 1px solid $footer-gray;
        border-left: 10px solid $primary-gray;

        &:active {
          background-color: $primary-gray;
          opacity: 0.8;
          color: $font-white;
        }
      }

      li.last {
        border-bottom: none;
      }

      a {
        color: $primary-gray;
        text-decoration: none;
      }
    }
  }

  .mobile-social-dropdown {
    width: 30%;
    overflow-x: hidden;
    overflow-y: auto;
    right: 0;
    margin: 0;
    padding: 0;

    ul {
      list-style-type: none;

      li {
        font-size: 2rem;
        padding: 1.34rem 1rem;
        text-align: center;
      }
    }
  }
}

// Remove menu when window is not .mobile
@media(min-width: $tablet-header) {
  .drop-down-container {
    display: none;
  }

  .dimmer {
    display: none;
  }
}

// Animations for mobile menu dropdown
.mobile-menu-animation-enter {
  .mobile-menu-dropdown {
    transform: translateX(100%);
  }

  .dimmer {
    opacity: 0.01;
  }
}

.mobile-menu-animation-enter.mobile-menu-animation-enter-active {
  .mobile-menu-dropdown {
    transform: translateX(0);
    transition: 200ms ease;
    z-index: 10;
  }

  .dimmer {
  opacity: 1;
  transition: opacity 200ms ease-in;
  }
}

.mobile-menu-animation-leave {
  .mobile-menu-dropdown {

  transform: translateX(0);
  }

  .dimmer {
    opacity: 1;

  }
}

.mobile-menu-animation-leave.mobile-menu-animation-leave-active {
  .mobile-menu-dropdown {
    transform: translateX(100%);
    transition: 200ms ease;
  }
  .dimmer {
    opacity: 0.01;
    transition: opacity 200ms ease-in;

  }
}

// Animations for mobile social media dropdown
.mobile-social-animation-enter {
  .mobile-social-dropdown {
    transform: translateX(100%);
  }

  .dimmer {
    opacity: 0.01;
  }
}

.mobile-social-animation-enter.mobile-social-animation-enter-active {
  .mobile-social-dropdown {
    transform: translateX(0);
    transition: 200ms ease;
    z-index: 10;
  }

  .dimmer {
  opacity: 1;
  transition: opacity 200ms ease-in;
  }
}

.mobile-social-animation-leave {
  .mobile-social-dropdown {

  transform: translateX(0);
  }

  .dimmer {
    opacity: 1;

  }
}

.mobile-social-animation-leave.mobile-social-animation-leave-active {
  .mobile-social-dropdown {
    transform: translateX(100%);
    transition: 200ms ease;
  }
  .dimmer {
    opacity: 0.01;
    transition: opacity 200ms ease-in;

  }
}

// Used to make opaque backgrounds
.dimmer {
    background: black;
    position: absolute;
    filter: opacity(50%);
    top: 77px;
    right: 0;
    left: 0;
    bottom: -15;
    z-index: 30;
  }
