.connect-page.page {
  display: initial;
}

.connect-page-container {
  max-width: 1200px;
  margin: auto;
}

@media(min-width: $phone-breakpoint) {
  .connect-page-container {
    font-size: 60%
  }
}

@media(min-width: $phone-breakpoint) {
  .connect-page-container {
    font-size: 55%
  }
}

.connect-page {
  .col-2 {
    padding: 5px;
  }
}

.connect-contact-info {
  overflow: hidden;

  .col-2 {
    width: 50%;
    display: block;
    float: left;
  }
}
@media(min-width: $phone-breakpoint) {
  .connect-page {
    .col-2 {
      padding: 3%;
      width: 50%;
      display: block;
      float: left;
    }
  }

  .cities {
    margin: 0;
  }

  .connect-contact-info {
    .col-2 {
      padding: 0;
      width: 100%;
    }
  }
}

.cities {
  h3 {
    width: 100%;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $primary-gray
  }
}

@media(min-width: $phone-breakpoint) {
  .cities {
    h3:last-child {
      margin-bottom: none;
    }
  }
}

.connect-contact-info {
  color: $primary-gray;
  padding: 5%;

  .material-icons {
    color: $arrow-gray;
  }

  a {
    color: $primary-gray;
    text-decoration: none;
    font-size: 100%;
    padding-left: 5px;
    vertical-align: 50%;
  }
}

@media(min-width: $phone-breakpoint) {
  .connect-contact-info {
    .material-icons {
      vertical-align: top;
      padding-top: 2px;
    }
  }
}

@media(min-width: $tablet-breakpoint) {
  .connect-contact-info {
    .material-icons {
      vertical-align: top;
      padding-top: 5px;
    }
  }
}

.connect-email, .connect-phone {
  padding: 5% 0 0 0;
}

.connect-page {
  .text-box {
    padding: 20px;
    box-shadow: 0 1px 1px 0 #888888;

  }

  .page-description-link-text {
    font-size: 0.75rem;
  }
}

@media(min-width: $phone-breakpoint) {
  .connect-page {
    .page-description-link-text {
      font-size: 1rem;
    }
  }
}

@media(min-width: $tablet-breakpoint) {
  .connect-page {
    .page-description-link-text {
      font-size: 1.2rem;
    }
  }
}

.connect-page {
  .page-footer {
    background-color: transparent;
  }
}
