.skull-and-crossbones {
  // max-height: 250px;
  width: calc(80% - 40px);
  max-width: 275px;
  opacity: 0.6;
  margin: 20px;
}

@media(min-width: $phone-breakpoint) {
  .skull-and-crossbones {
    padding-top: 30px;
  }
}

.page-not-found-container {
  color: $font-gray;
  h1, h5 {
    font-weight: 200;
  }
}

@keyframes rock {
  0% {transform: rotate(10deg);}
  6% {transform: rotate(7.5deg);}
  12% {transform: rotate(5deg);}
  18% {transform: rotate(2.5deg);}
  25% {transform: rotate(0deg);}
  32% {transform: rotate(-2.5deg);}
  38% {transform: rotate(-5deg);}
  44% {transform: rotate(-7.5deg);}
  50% {transform: rotate(-10deg);}
  56% {transform: rotate(-7.5deg);}
  62% {transform: rotate(-5deg);}
  68% {transform: rotate(-2.5deg);}
  75% {transform: rotate(0deg);}
  82% {transform: rotate(2.5deg);}
  88% {transform: rotate(5deg);}
  94% {transform: rotate(7.5deg);}
  100% {transform: rotate(10deg);}
}

@keyframes reverse-rock {
  0% {transform: translateX(-24%) scaleX(1.1);
  background: linear-gradient(to right, #eee, #888);}

  6% {transform: translateX(-18%) scaleX(1.075);
  background: linear-gradient(to right, #dfdfdf, #999);}

  12% {transform: translateX(-12%) scaleX(1.05);
  background: linear-gradient(to right, #ddd, #aaa);}

  18% {transform: translateX(-6%) scaleX(1.025);
  background: linear-gradient(to right, #cfcfcf, #bbb);}

  25% {transform: translateX(0%) scaleX(1);
  background: linear-gradient(to right, #ccc, #ccc);}

  32% {transform: translateX(6%) scaleX(1.025);
  background: linear-gradient(to left, #cfcfcf, #bbb);}

  38% {transform: translateX(12%) scaleX(1.05);
  background: linear-gradient(to left, #ddd, #aaa);}

  44% {transform: translateX(18%) scaleX(1.075);
  background: linear-gradient(to left, #dfdfdf, #999);}

  50% {transform: translateX(24%) scaleX(1.1);
  background: linear-gradient(to left, #eee, #888);}

  56% {transform: translateX(18%) scaleX(1.075);
  background: linear-gradient(to left, #dfdfdf, #999);}

  62% {transform: translateX(12%) scaleX(1.05);
  background: linear-gradient(to left, #ddd, #aaa);}

  68% {transform: translateX(6%) scaleX(1.025);
  background: linear-gradient(to left, #cfcfcf, #bbb);}

  75% {transform: translateX(0%) scaleX(1.0);
  background: linear-gradient(to right, #ccc, #ccc);}

  82% {transform: translateX(-6%) scaleX(1.025);
  background: linear-gradient(to right, #cfcfcf, #bbb);}

  88% {transform: translateX(-12%) scaleX(1.05);
  background: linear-gradient(to right, #ddd, #aaa);}

  94% {transform: translateX(-18%) scaleX(1.075);
  background: linear-gradient(to right, #dfdfdf, #999);}

  100% {transform: translateX(-24%) scaleX(1.1);
  background: linear-gradient(to right, #eee, #888);}
  }

.image-rotate {
  animation: rock 2s infinite ease;
}

.image-rotate-reverse {
  animation: reverse-rock 2s infinite ease;
}

.image-shadow {
  @extend .skull-and-crossbones;
  max-width: 250px;
  margin: 10px auto 20px;
  height: 4%;
  border-radius: 100%;
  background-color: $font-gray;
  opacity: 0.2;
}

@media(min-width: $phone-breakpoint) {
  .image-shadow {
    margin: 30px auto 20px;
  }
}

.hidden {
  display: none;
}

.joke {
  position: absolute;
  top: 150px;
  right: calc(50% - 125px);
  z-index: 10;
  width: 250px;
  background: rgba(red($font-gray), green($font-gray), blue($font-gray), 0.9);
  border-radius: 5px;

  img {
    width: 200px;
  }
}

@media(min-width: $phone-breakpoint) {
  .joke {
    right: calc(50% - 250px);
    width: 500px;
    top: 250px;

    img {
      width: 450px;
    }
  }
}
