.booking-date-container {
  width: 100%;
  position: relative;
  padding-left: 10px;
  overflow: visible;
  color: $font-gray;

  .booking-input {
    width: 100%;
    display: flex;
    float: left;
    align-items: center;
    padding: 10px 0 0;
  }

  h5 {
    margin: 10px 0 10px;
  }

  .DateRangePicker {
    font-family: 'Montserrat';

    .DateInput__display-text--focused {
      background: $light-red;
      border-color: $light-red;
      color: $font-gray;
    }

    .DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--selected-start, .DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--selected-end, .CalendarMonth__day--selected-start, .CalendarMonth__day--selected-end, .CalendarMonth__day--selected {
      background: $font-red;
      border-color: $font-red;
    }

    .CalendarMonth__day--selected-span {
      background: $light-red;
      border-color: $light-red;
    }
  }

}

.book-btn {
  display: block;
  margin: 10px auto 0;
}


@media(min-width: $phone-breakpoint) {
  .booking-component-container {
    width: 65%;
    transform: translateY(25%);
    display: block;
    float: left;

    .booking-date-container {
      width: 80%;
      display: flex;
      align-items: center;
      margin: auto;

      h5 {
        margin: 0;
      }

      .DateRangePicker {
        margin-left: 15px;
        .DateInput {
          font-size: 0.9rem;
          text-align: center;
        }
      }
    }
  }
}

@media(min-width: $tablet-breakpoint) {
  .booking-date-container {
    h5 {
      font-size: 1rem;
    }
  }
}
