
//Explore Page Containers
.explore-page-container {
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
}

@media(min-width: $phone-breakpoint) {
  .explore-page-container {
    .text-box {
      .text-box-content {
        font-size: 60%;
      }
    }
  }
}

@media(min-width: $tablet-breakpoint) {
  .explore-page-container {
    .text-box {
      .text-box-content {
        font-size: 50%;
      }
    }
  }
}

.explore-arrow-container {
  position: absolute;
  top: calc(50% - 49px);
}

.explore-right-arrow-container {
  right: -45px;
}

.explore-left-arrow-container {
  left: -45px;
}

@media(min-width: $phone-breakpoint) {
  .explore-arrow-container {
    top: calc(50% - 57px);
  }

  .explore-right-arrow-container {
    right: -90px;
  }

  .explore-left-arrow-container {
    left: -90px;
  }

}

@media(min-width: $tablet-breakpoint) {
  .explore-arrow-container {
    top: calc(50% - 67px);
  }

  .explore-right-arrow-container {
    right: -100px;
  }

  .explore-left-arrow-container {
    left: -100px;
  }
}

.slick-slide {
  @extend .text-box;
  padding: 0 !important;
}

//Explore Page Images
.open-source-image {
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('./assets/Open_Source_Image.jpg') no-repeat center center fixed;
}

.tech-radar-image {
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('./assets/Tech_Radar_Image.jpg') no-repeat center center fixed;
}
