
//Explore Page Containers
.explore-page-container {
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
}

@media(min-width: $phone-breakpoint) {
  .explore-page-container {
    .text-box {
      .text-box-content {
        font-size: 60%;
      }
    }
  }
}

@media(min-width: $tablet-breakpoint) {
  .explore-page-container {
    .text-box {
      .text-box-content {
        font-size: 50%;
      }
    }

    .flex-container {
      display: flex;
      height: 80%;
      min-height: 80%;
      flex-direction: column;
      justify-content: center;
      -ms-flex-pack: center;
    }
  }
}

@media(min-width: $phone-breakpoint) {
  .explore-arrow-container {
    position: absolute;
    top: 0;
  }

  .explore-right-arrow-container {
    position: absolute;
    right: -90px;
  }

  .explore-left-arrow-container {
    position: absolute;
    left: -90px;
  }

}

@media(min-width: $tablet-breakpoint) {
  .explore-arrow-container {
    top: calc(50% - 42px);
  }
  .explore-right-arrow-container {
    right: -100px;
  }

  .explore-left-arrow-container {
    left: -100px;
  }
}

.slick-slide {
  @extend .text-box;
  padding: 0 !important;
}

//Explore Page Images
.open-source-image {
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('./assets/Open_Source_Image.jpg') no-repeat center center fixed;
}

.tech-radar-image {
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('./assets/Tech_Radar_Image.jpg') no-repeat center center fixed;
}
