.blog-page {
  margin: auto;
}

@media(min-height: 800px) {
  .blog-page.page {
    display: block;
  }
}

.blog-page-container {
  padding: 5%;
  .blog-page-link {
    margin: 0;
  }
}

.blog-page-link {
  a {
    text-decoration: none;
    font-size: 1rem;
  }
}

.blog-page-image {
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('./assets/Blog_Page_Image.png') no-repeat center center;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

@media(min-width: $tablet-breakpoint) {
  .blog-page-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px;
  }
}
