.popular-container {
  overflow: hidden;

  h3 {
    padding: 15px 15px 10px 5px;
    margin: 0;
    margin-bottom: 25px;
    color: $font-red;
    border-bottom: 3px solid $border-gray;
  }
}

@media(min-width: $tablet-breakpoint) {
  .popular-container {
    h3 {
      font-size: 1.8rem;
      font-weight: 100;
    }
  }
}
