.property-item-container {
  margin: 0 10px;
  color: $font-gray;

  h5 {
    margin: 20px 0 0;
  }

  p {
    font-size: 0.8rem;
  }
}

.property-item-container.text-item {
  display: flex;
  align-items: center;

  h5 {
    margin: 0;
    width: 30%;
    float: left;
  }
}

@media(min-width: $tablet-breakpoint) {
  .property-item-container {
    h5 {
      font-size: 0.9rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}
