// Variables
$primary-blue: #0066cc;
$primary-orange: #FF6601;
$secondary-orange: #FF6600;
$font-white: #FFFFFE;
$font-gray: #434B53;
$footer-gray: #E9E8E4;

// Roboto Font
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: calc(100% - 6rem);
  background-color: #3d3d3d;
}

// Navbar
.navbar {

  ul {
    list-style-type: none;
    display: flex;
    border-bottom: 4px solid black;
    border-top: 10px solid $primary-blue;
    margin: 0;

    li {
      a {
        text-decoration: none;
        color: black;
        font-size: 32px;
        padding: 10px 10px 10px 10px;

        &:hover {
        background-color: lightgray;
        }
      }
    }
  }
}

//Buttons
.btn {
  padding: 15px 30px;
  margin: 30px auto;
  border: 1px solid $font-white;
  border-radius: 5px;
  display: block;
}

.btn-primary {
  font-size: 1.5rem;
  color: $font-white;
  background-color: $primary-orange;
}

@media(min-width: 800px) {
  body {
    font-size: 90%;
  }

  .btn {
    display: inline;
    margin: 30px;
  }
}


//Home Page
.home-page-container {
  text-align: center;
  margin: 15px auto;
  max-width: 1200px;
  padding-bottom: 100px;
}

.image-container {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ), url('./assets/culture-11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  margin-bottom: -15px;
  background-color: $font-gray;
}

//Headers
.page-header {
  color: $font-white;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-shadow: 4px 2px 4px #000;
}

.emphasis {
  font-weight: 600;
  color: $secondary-orange;
}

.page-sub-header {
  color: $font-white;
  font-weight: 400;
  font-size: 2rem;
  padding-top:40px;
}

.page-description {
  font-size: 1.5rem;
  font-weight: 800;
  color: $font-white;
  padding: 50px 50px;
}


//Footer
.page-footer {
  background-color: $footer-gray;
  width: 100%;
  height: 6rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  .arrow-link {
    background-color: white;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: relative;
    top: -20px;
    left: calc(50% - 25px);
  }

  .arrow-icon {
    position: absolute;
    left:-100px;
    top: 6px;
  }

  .footer-text {
    color: $font-gray;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }
}

//Icons
.material-icons.orange {
  color: $primary-orange;
}

.material-icons.md {
  font-size: 36px;
}
